.task-short-description{
  cursor: pointer;
  width: 40em;
  height: 4em;
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(222, 227, 213, 0.3);
  text-align: start;
  padding-left: 1em;
}
.task-short-description:hover{
  background: rgba(169, 157, 145, 0.41)
}
