<div class="d-flex justify-content-start container ">
  <div
    *ngIf="!isOpenForm"
    class="task-short-description"
    (click)="openForm()">
    {{task.description
      ? task.description.substring(0, 40) + '...'
      : 'task-description!'}}
  </div>

  <form
    class="container"
    *ngIf="isOpenForm"
    (ngSubmit)="onSubmit()"
  >
    <textarea
      [(ngModel)]="inputValue"
      name="description"
      id=""
      cols="40"
      rows="10"
    >
    </textarea>
    <button
      type="submit"
    >
      Add description
    </button>
  </form>
</div>
