<app-simple-form
  *ngIf="addTaskFormIsOpen === _listId"
  [usage]="'task'"
  (add)="createTask($event)"
  (onClose)="closeForm($event)"
></app-simple-form>
<button
  *ngIf="addTaskFormIsOpen !== _listId"
  (click)="openAddTaskForm(_listId)"
  class="add-task-btn">
  ADD TASK
</button>
<li *ngFor="let task of tasks, let i = index"
    class="list-item d-flex justify-content-between align-items-center">
  <app-task
    [task]="task"
    (newTask)='updateTask($event, i)'
  ></app-task>
  <button (click)="removeTask(task.id, i)" class="btn btn-sm custom-btn">x</button>
</li>
