<form class="task-form d-flex justify-content-between align-items-center">
  <div class="d-flex align-items-center justify-content-between col-md-12">
    <div class="d-flex">
      <input
        type="checkbox"
        name="checkbox"
        (change)="update(!task.done)"
        [checked]="task.done"
      >
      <div class="task-update-form">
        <button
          (click)="onChange(task.id)"
          *ngIf="changeTask !== task.id"
          class="btn btn-sm custom-btn"
        >c
        </button>
        <button
          class="btn btn-sm custom-btn"
          (click)="acceptChanges(task.id)"
          *ngIf="changeTask === task.id"
        >Accept
        </button>
      </div>
      <div
        *ngIf="changeTask !== task.id"
        class="task-name"
        [ngClass]="{'task-done': task.done === true, 'task-not-done': task.done === false}"
      >
        <h3>{{task.taskName}}</h3>
        <div>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit...
        </div>
      </div>
    </div>
    <div
      *ngIf="changeTask === task.id">
      <input
        type="text"
        name="newTaskName"
        [(ngModel)]="newTaskName"
        class="task-input"
      >
    </div>
  </div>
</form>
